@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-image {
    position: relative;
}

img {
    /* position: relative; */
    height: 100vh;
    opacity: 0.7;
}

.icon {
    height: 100px;
    position: absolute;
    top: 140px;
    left: 70px;

}

h1 {
    position: absolute;
    left: 200px;
    top: 30px;
    color: black;
    font-family: 'Orbitron', sans-serif;
}

.icon-background {
    height: 150px;
    width: 454px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 120px;
    /* left: 100px; */
    margin: 0;
}

.column-holder {
    display: flex;
}

form {
    padding-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input {
    width: 200px;
    margin: 10px;
    padding: 4px;
}

label {
    margin-left: 10px;
    font-size: small;
    letter-spacing: .1em;
}

header {
    padding: 80px;
    padding-bottom: 0px;
}

.main-text {
    background-color: rgba(178, 190, 181, 0.2);
}

form {
    background-color: rgb(255, 255, 255);
    padding-left: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top: 82px;
    box-shadow: 0 5px 9px rgba(178, 190, 181);  
}

button,
button ~ p {
    margin-left: 40px;
}

button {
    background-color: rgb(75,0,130);
    font-weight: bold;
    color: rgb(255, 255, 255);
    box-shadow: 4px 4px 5px rgba(178, 190, 181);
    padding: 10px 28px 10px 28px;  
    border-radius: 3px;
    border: none;
    margin-bottom: 20px;
    margin-top: -1px;
}

button:hover {
    background-color: 	rgb(128,128,128);
}

button:active {
    transform: scale(0.98);
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(128,128,128);
}

:focus {
    /* border-color: blue; */
    box-shadow: 0 0 5px rgba(178, 190, 181);
}

.error {
    border: solid red;
    border-radius: 3px;
}
